.product {
  flex:0.3;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin-top: 20px;
}

#name {
  margin-top: 20px;
  font-family: Lobster;
  color: #FA4032;
  font-size: 150%;
}

.image-div {
  display: flex;
  align-items: center;
  height: 250px;
}
